/*** 

Import Fonts 

*************/

@font-face {
    font-family: 'Praise';
    src: url('./assets/fonts/Praise-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lobster';
    src: url('./assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./assets/fonts/OpenSans-ExtraBold copy.ttf') format('truetype');
    font-display: swap;
}
