
/******

    Links 

**************/

a, .page-title {
    color: var(--main-link-color);
}

a:hover {
    color: var(--main-link-hover);
    text-decoration:  var(--main-link-hover-decoration);
}

a:focus { color: var(--primary-white);}


a.ast-custom-button-link, a:hover.ast-custom-button-link {
    color: var(--primary-black);
}

.no-underline a {
    text-decoration: none !important;
}


